<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Run the map server -->
  <arg name="map_file" default="$(find doozy_navigation)/maps/test.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL 
  <include file="$(find doozy_navigation)/launch/amcl.launch" /> -->

  <!--- Run Move Base -->
  <include file="$(find doozy_navigation)/launch/move_base.launch" />

  <!--- Run Rviz 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find doozy_navigation)/launch/amcl.rviz" />	-->

</launch>