<?xml version="1.0" ?>

<launch>

	<arg name="run_demo" default="false" doc="If true, perform the demo after launch"/>
	<arg name="effort_control" default="false"/>

	<rosparam file="$(find xarm6_moveit_config)/config/xarm6_params.yaml" command="load"/>
<!--
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name = "use_gui" value = "False"/>
	</node>
-->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="false"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find doozy_description)/urdf/doozyarm.xacro' effort_control:=$(arg effort_control)" />

    <node args="-param robot_description -urdf -model doozyarm" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

    <include file="$(find xarm_controller)/launch/xarm6_control.launch">
    	<arg name="run_demo_traj" value="$(arg run_demo)"/>
    	<arg name="effort_control" value="$(arg effort_control)"/>
    </include>


</launch>
