<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="image" default="/d400/depth/image_rect_raw" />
  <arg name="camera_info" default="/d400/depth/camera_info"/>
  <arg name="publish_tf" default="true"/>
    
  <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen" >
    <param name="scan_height" value="3"/>
    <param name="output_frame_id" value="/camera_depth_frame"/>
    <param name="range_min" value="0.45"/>
    <param name="range_max" value="5.0"/>
    <remap from="image" to="/d400/depth/image_rect_raw"/>  
  </node> 
</launch>
