<?xml version="1.0" ?>

<robot name="doozyarm" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find doozy_description)/urdf/doozy.xacro" />

	<xacro:include filename="$(find xarm_description)/urdf/xarm6_spawn.urdf.xacro" />


	<joint name="multirobot_joint" type="fixed">
		<origin rpy="0 0 0" xyz="0.4 0.0 0.15"/>
		<parent link="base_link"/>
		<child link="link_base"/>
	</joint>

</robot>