<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="TRUE" />
  <param
    name="robot_description"
    textfile="$(find robot)/urdf/my_robot.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find robot)/rviz/rviz.rviz" />
</launch>

